.page {
    text-align: center;
    font-family: 'Cabin', 'Open Sans', sans-serif;
}
.page .footer {
    max-width: 100%;
} 
.page404 {    
    margin: auto;
    margin-top: 20px;
    font-size: 600%;
}
.page404 .fa-smile {
    color: #0088CC;
}
.page404p, .emptyOne {
    margin-bottom: 18%;
    font-size: 150%;
}
#brlcad {
    max-width: 300px;
    max-height: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.emptyOne {
    margin-top: 10%;
    margin-bottom: 12%;
    display: none;
}
.flip .page404 {    
    margin: auto;
    margin-top: 20px;
    font-size: 600%;
}
.flip .front .fa-smile {
    color: #0088CC;
}
.flip .back .fa-smile {
    color: #333333;
}
.flip {
    perspective: 1000px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
	/* flip the pane when hovered */
	.flip:hover .flipper, .flip.hover .flipper {
        transform: rotateY(180deg);
        height: 300px;
    }
    .flip:hover ~ .page404p {
        display: none;
    }
    .flip:hover ~ .emptyOne {
        display: block;
    }

.flip, .front, .back {
	width: 400px;
	height: 140px;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    h1 {
        font-size: 10px;
    }
    .page404 {
        margin: auto;
        margin-top: 20px;
        font-size: 100%;
    }
    #brlcad {
        max-width: 150px;
        max-height: 150px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .page404p, .emptyOne {
        margin-bottom: 18%;
        font-size: 75%;
    }
}